<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a885">  <td>20/02/05 10:48:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FileUploadWindows.beforeClass()[pri:0, instance:FileUploadWindows@32d992b2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1547425104</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/02/05 10:49:01</td>   <td>4216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileUploadWindows.fileUpload()[pri:0, instance:FileUploadWindows@32d992b2]">fileUpload</td> 
  <td>main@1547425104</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/02/05 10:49:03</td>   <td>5370</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FileUploadWindows.afterClass()[pri:0, instance:FileUploadWindows@32d992b2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1547425104</td>   <td></td> </tr>
</table>
